server:
  port: 9092

log:
  path: ./log

mybatis:
  mapper-locations: classpath:cn/cloudwalk/cloud/*.xml
  config-location: classpath:mybatis-config.xml

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:9091/eureka
    registerWithEureka: true
    fetchRegistry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}:@project.version@
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://49.4.51.30:3306/bd_common_db?useSSL=false
    username: common_rw
    password: 0F&6%rU%a4lnkUWv
    filters: stat
    max-active: 20
    initial-size: 1
    max-wait: 60000
    min-idle: 1
    validation-query: select 1

otherConfig:
  kafka-producer-bootstrap-servers: web01:9092,web02:9092,web04:9092
  kafka-producer-topic-name: te_data_link_monitor

